<div class="p-5 mb-4 bg-light rounded-3">
    
    
    <div class="container-fluid py-5">
    
      <h1 class="display-5 fw-bold">Personal Board</h1>
      <p class="col-md-8 fs-4">Think different,Organize better</p>
      <img src="../../assets/img/time.png" alt="image" class="img-fluid float-end">
      <p class="col-md-8 fs-4">A collaboration tool that organizes your projects into boards. In one glance, Personal Board tells you what's being worked on, who's working on what, and where something is in a process. Imagine a white board, filled with lists of sticky notes, with each note as a task for you and your team.</p>
      
    </div>
<div class="row align-items-md-stretch">
    <div class="col-xs-12">
      <div class="h-100 p-5 text-white bg-dark rounded-3">
        <h2> Plan your task, be a Emperor of Time..</h2>
        <br>
        <br>
        <br>
        <app-board></app-board>
 
      </div>
    </div>
    
    </div>
    
    
    
        
  
